In [1]:
import datetime as dt
import talib as ta
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as web
import pandas as pd

In [4]:
df=pd.read_csv("RELIANCE.csv")
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-04-03,2164.434326,2168.126221,2136.744141,2151.927490,2144.352783,5146521
1,2023-04-05,2167.203125,2167.203125,2130.791016,2146.758789,2139.202148,8131464
2,2023-04-06,2139.651611,2172.741211,2139.651611,2161.157471,2153.550049,9217523
3,2023-04-10,2169.049316,2169.418457,2142.789795,2145.835693,2138.282227,6480704
4,2023-04-11,2154.281250,2160.742188,2145.097412,2156.450195,2148.859375,5271183

In [5]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
239,2024-03-22,2899.949951,2920.000000,2894.699951,2910.050049,2910.050049,9763804
240,2024-03-26,2890.000000,2904.800049,2878.000000,2883.149902,2883.149902,5707953
241,2024-03-27,2896.000000,3000.000000,2894.000000,2985.699951,2985.699951,8163322
242,2024-03-28,2985.750000,3011.899902,2957.300049,2971.699951,2971.699951,10927182
243,2024-04-01,2984.949951,2987.949951,2965.000000,2969.550049,2969.550049,2505457

In [6]:
df['Close']

0      2151.927490
1      2146.758789
2      2161.157471
3      2145.835693
4      2156.450195
          ...
239    2910.050049
240    2883.149902
241    2985.699951
242    2971.699951
243    2969.550049
Name: Close, Length: 244, dtype: float64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       244 non-null    object
 1   Open       244 non-null    float64
 2   High       244 non-null    float64
 3   Low        244 non-null    float64
 4   Close      244 non-null    float64
 5   Adj Close  244 non-null    float64
 6   Volume     244 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.5+ KB

In [9]:
df['MA_20']=ta.MA(df['Close'],timeperiod=20)
df['MA_20']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
          ...
239    2930.305005
240    2925.100000
241    2925.652502
242    2925.672498
243    2928.587500
Name: MA_20, Length: 244, dtype: float64

In [11]:
df['RSI_9']=ta.RSI(df['Close'],timeperiod=9)
df['RSI_9']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
         ...
239    50.771443
240    45.108852
241    62.869540
242    59.893218
243    59.407345
Name: RSI_9, Length: 244, dtype: float64

In [16]:
df['upper'],df['middle'],df['lower']=ta.BBANDS(df['Close'],timeperiod=20)
df['upper'],df['middle'],df['lower']

(0              NaN
 1              NaN
 2              NaN
 3              NaN
 4              NaN
           ...
 239    3038.894715
 240    3032.242573
 241    3033.919498
 242    3033.973349
 243    3038.307743
 Name: upper, Length: 244, dtype: float64,
 0              NaN
 1              NaN
 2              NaN
 3              NaN
 4              NaN
           ...
 239    2930.305005
 240    2925.100000
 241    2925.652502
 242    2925.672498
 243    2928.587500
 Name: middle, Length: 244, dtype: float64,
 0              NaN
 1              NaN
 2              NaN
 3              NaN
 4              NaN
           ...
 239    2821.715295
 240    2817.957427
 241    2817.385507
 242    2817.371646
 243    2818.867257
 Name: lower, Length: 244, dtype: float64)

In [17]:
print(ta.CDLDOJI(df['Open'],df['High'],df['Low'],df['Close']))

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Length: 244, dtype: int32

In [18]:
import pandas_ta as pta

In [22]:
df['Supertrend']=pta.supertrend(df['High'],df['Low'],df['Close'],length=5,multiplier=3)['SUPERT_5_3.0']
df['Supertrend']

0         0.000000
1              NaN
2              NaN
3              NaN
4              NaN
          ...
239    3013.790139
240    3011.630212
241    3011.630212
242    3011.630212
243    3011.630212
Name: Supertrend, Length: 244, dtype: float64