In [2]:
import datetime as dt
import talib as ta
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as web
import pandas as pd

In [3]:
df=pd.read_csv("RELIANCE-EQ-22-03-2024-to-29-03-2024.csv")
df.head()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,28-Mar-2024,EQ,"2,985.75","3,011.90","2,957.30","2,985.70","2,970.30","2,971.70","2,988.81","3,024.90","2,220.30","1,09,27,182","32,65,92,43,942.20","2,89,271"
1,27-Mar-2024,EQ,"2,896.00","3,000.00","2,894.00","2,883.15","2,983.75","2,985.70","2,972.19","3,024.90","2,220.30","81,63,322","24,26,29,83,466.45","2,99,800"
2,26-Mar-2024,EQ,"2,890.00","2,904.80","2,878.00","2,910.05","2,886.70","2,883.15","2,887.28","3,024.90","2,220.30","57,07,953","16,48,04,30,505.15","1,74,805"
3,22-Mar-2024,EQ,"2,899.95","2,920.00","2,894.70","2,901.95","2,906.55","2,910.05","2,909.59","3,024.90","2,220.30","97,63,804","28,40,86,77,998.20","2,86,746"

In [4]:
df.tail()

,Date,series,OPEN,HIGH,LOW,PREV. CLOSE,ltp,close,vwap,52W H,52W L,VOLUME,VALUE,No of trades
0,28-Mar-2024,EQ,"2,985.75","3,011.90","2,957.30","2,985.70","2,970.30","2,971.70","2,988.81","3,024.90","2,220.30","1,09,27,182","32,65,92,43,942.20","2,89,271"
1,27-Mar-2024,EQ,"2,896.00","3,000.00","2,894.00","2,883.15","2,983.75","2,985.70","2,972.19","3,024.90","2,220.30","81,63,322","24,26,29,83,466.45","2,99,800"
2,26-Mar-2024,EQ,"2,890.00","2,904.80","2,878.00","2,910.05","2,886.70","2,883.15","2,887.28","3,024.90","2,220.30","57,07,953","16,48,04,30,505.15","1,74,805"
3,22-Mar-2024,EQ,"2,899.95","2,920.00","2,894.70","2,901.95","2,906.55","2,910.05","2,909.59","3,024.90","2,220.30","97,63,804","28,40,86,77,998.20","2,86,746"

In [5]:
df['close ']

0    2,971.70
1    2,985.70
2    2,883.15
3    2,910.05
Name: close , dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           4 non-null      object
 1   series         4 non-null      object
 2   OPEN           4 non-null      object
 3   HIGH           4 non-null      object
 4   LOW            4 non-null      object
 5   PREV. CLOSE    4 non-null      object
 6   ltp            4 non-null      object
 7   close          4 non-null      object
 8   vwap           4 non-null      object
 9   52W H          4 non-null      object
 10  52W L          4 non-null      object
 11  VOLUME         4 non-null      object
 12  VALUE          4 non-null      object
 13  No of trades   4 non-null      object
dtypes: object(14)
memory usage: 580.0+ bytes

In [22]:
newdf = df.convert_dtypes()
newdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           4 non-null      string
 1   series         4 non-null      string
 2   OPEN           4 non-null      string
 3   HIGH           4 non-null      string
 4   LOW            4 non-null      string
 5   PREV. CLOSE    4 non-null      string
 6   ltp            4 non-null      string
 7   close          4 non-null      string
 8   vwap           4 non-null      string
 9   52W H          4 non-null      string
 10  52W L          4 non-null      string
 11  VOLUME         4 non-null      string
 12  VALUE          4 non-null      string
 13  No of trades   4 non-null      string
dtypes: string(14)
memory usage: 580.0 bytes

In [41]:
# newdf['close ']=newdf['close '].astype(float)
newdf1=newdf['close '].apply(lambda x:x.replace(",",""))
newdf1

0    2971.70
1    2985.70
2    2883.15
3    2910.05
Name: close , dtype: object

In [42]:
newdf1=newdf1.astype(float)
newdf1

0    2971.70
1    2985.70
2    2883.15
3    2910.05
Name: close , dtype: float64

In [43]:
df['close ']=newdf1
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           4 non-null      object
 1   series         4 non-null      object
 2   OPEN           4 non-null      object
 3   HIGH           4 non-null      object
 4   LOW            4 non-null      object
 5   PREV. CLOSE    4 non-null      object
 6   ltp            4 non-null      object
 7   close          4 non-null      float64
 8   vwap           4 non-null      object
 9   52W H          4 non-null      object
 10  52W L          4 non-null      object
 11  VOLUME         4 non-null      object
 12  VALUE          4 non-null      object
 13  No of trades   4 non-null      object
 14  MA 20          0 non-null      float64
dtypes: float64(2), object(13)
memory usage: 612.0+ bytes

In [44]:
df['MA 20']=ta.MA(df['close '],timeperiod=2)

In [45]:
# df['MA 20']
print(ta.MA(df['close '],timeperiod=2))

0         NaN
1    2978.700
2    2934.425
3    2896.600
dtype: float64

In [ ]:
df['RSI_9']=ta.RSI(df['close '],timeperiod=9)